/* nav */ 
nav {
    background-color: #C6AC8F;
    border-top: solid 1px #C6AC8F;
    overflow: hidden;
    font-family: 'Rubik', sans-serif;
    float: center;
}
nav a {
    float: left;
    color: #22333B;
    text-align: right;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
}

nav a:hover {
    background-color: #5E503F;
    color: white;
}

/* inicio de sesion */

.ingresarCss{
  color: #22333B;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  margin-left: 1.5%;
}

.ingresarCss label{
  color: #22333B;
  font-size: 15px;
  position: relative;
  bottom: 7px;
}

h2 .iniciarsesion{
  margin-left: 10px;
}

input:focus {
  background: rgb(234, 224, 213);
  /* background: rgb(198, 172, 143);  */
}

.btnIngresarCss {
  display: inline-block;
  border-radius: 4px;
  background-color: #5E503F;
  border: none;
  color: #FFFF;
  text-align: center;
  font-size: 13px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 0%;
  font-family: 'Rubik', sans-serif; 
}

.btnIngresarCss:hover{
  background-color: #C6AC8F;
}

.indexAdmin{
  color: #22333B;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  margin-left: 20px;
  
}

/* botones /administrador */

nav .btnAdmin{
  margin-top: 30px;
  width: 150px;
}

/* museos /administrador */

.museos{
  color: #22333B;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  margin-left: 20px;
}

/* botones nav principal*/ 

nav .btn{
  margin-top: 30px;
  width: 14%;
}

.navbar-logo{
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  float: right;
}

.navbar-logo:hover{
  background-color: #C6AC8F;
}

.navbar-logoT{
  display: inline-block;
  vertical-align: middle;
  color: #22333B;
  font-size: 34px;
  margin-right: 4.2%;
  width: 80px;
  float: right;
  font-family: 'Rubik', sans-serif;
}

.navbar-logo img{
  display: block;
  width: 90%;
  height: auto;
}

nav p{
  color:#22333B;
  font-family: 'Rubik', sans-serif;
  display: inline-block;
  vertical-align: top;
}

/* botones barra2*/ 

ingresarNav .btn{
  margin-top: 30px;
}

h1{
    font-size: 35px;
    color:#22333B;
    text-align: left;
    margin-top: 1.5%;
    font-family: 'Rubik', sans-serif;
    margin-left: 1%;
}

body {
    background-color: #EAE0D5;
}

.name {
  font-family: 'Rubik', sans-serif;
}

/* FAQ */ 

details {
  font-family: 'Rubik', sans-serif;
  color:#22333B;
  margin-left: 20px;
}

details summary{
  font-family: 'Rubik', sans-serif;
  color:#22333B;
  font-size: 18px;
}

.faqadmin{
  margin-top: 2%;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  color: #22333B;
  text-decoration: none;
}

/* bloques de index.html */

.imagenIndex{
  width: 95%;
  height: 505px;
  margin-left: 2.5%;
  margin-top: 2.5%;
  margin-right: 3.3%;
  margin-bottom: 3%;
}
/* imagen del logo del museo */
.imagenMuseos{
  width: 18%;
  height: 39%;
  margin-left: 3%;
  margin-right: auto;
  margin-top: -24%;
  display: block;
}

.contenedorBloques1{
  font-family: 'Rubik', sans-serif;
  width: 48%;
  height: 557px;
  background-color: #C6AC8F;
  margin-left: 0%;
  margin-top: 2%;
  float: left;
  justify-content: space-between;
}

.contenedorBloques1 p{
  font-size: 25px;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 26%;
  line-height: 1.5em;
  font-family: 'Rubik', sans-serif;
  color: #22333B;
  text-decoration: none;
  text-align: center;
}

.contenedorBloques2{
  font-family: 'Rubik', sans-serif;
  width: 48%;
  height: 550px;
  float: left;
  margin-left: 3.9%;
  margin-top: 2%;
  position: relative;
}

/* bloques de INICIO  */
.cssInicio1{
  height: 20px;
  width: 20%;
  margin-top: 2%;
  margin-left: 2%;
  display: inline-block;
}

.cssInicio1 img{
  height: 270px;
  width: 160%;
  margin-top: 15%;
}

.cssInicio2{
  background-color: #C6AC8F;
  height: 220px;
  width: 32%;
  margin-top: 1%;
  margin-left: 2%;
}

.cssInicio2 p{
  font-family: 'Rubik', sans-serif;
  color: #22333B;
  font-size: 17px;
  position: relative;
  margin-left: 2.5%;
  top: 35%;
}

.hiper{
  background-image: url("/static/img/prueba.jpg"); 
  height: 505px;
  width: 10%;
  margin-top: -32.5%;
  margin-left: 38%;
  justify-content: space-between;
  display: inline-block;
  float: left;
  color: #22333B;
}

.hiper a{
  font-family: 'Rubik', sans-serif;
  color: #22333B;
  font-size: 27px;
  float: left;
  transform: rotate(0deg);
  transform-origin: left top 0;
  text-align: center;
  position: relative;
  top: 32%;
  left: 0%;
  text-transform: none;
}

.inicioImg1{
  background-color: #5E503F;
  height: 215px;
  width: 20%;
  margin-top: -30%;
  margin-left: 52%;
  display: inline-block;
  position: relative;
  top: -40px;
}

.inicioImg1 img{
  height: 200px;
  width: 96%;
  position: relative;
  top: -110%;
  left: 2%;
  z-index: 1;
}

.inicioImg2{
  background-color: #5E503F;
  height: 215px;
  width: 20%;
  margin-top: -14%;
  margin-left: 75%;
  display: inline-block;
  position: relative;
  top: -69px;
}

.inicioImg2 img{
  height: 200px;
  width: 96%;
  position: relative;
  top: -109%;
  left: 2%;
  z-index: 1;
}

.inicioImg3{
  background-color: #5E503F;
  height: 215px;
  width: 20%;
  margin-left: 52%;
  display: inline-block;
  position: relative;
  top: -527px;
}

.inicioImg3 img{
  height: 200px;
  width: 96%;
  position: relative;
  top: 117%;
  left: 2%;
}

.inicioImg4{
  background-color: #5E503F;
  height: 215px;
  width: 20%;
  margin-top: -14%;
  margin-left: 75%;
  display: inline-block; 
  position: relative;
  top: -555px;
}

.inicioImg4 img{
  height: 200px;
  width: 96%;
  position: relative;
  top: 116%;
  left: 2%;
}

/* botones Museos*/

.btnMuseos{
  display: inline-block;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 0%;
  background-color: #C6AC8F;
  height: 15vh;
  width: 15%;
  margin-top: 3%;
}

.museos123{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.museosTexto p{
  margin-top: 7%;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  color: #22333B;
  font-weight: bold;
  margin-left: 33%;
  display: flex;
}

.museos a{
  margin-top: 8%;
  text-decoration: bold;
}

.btnMuseos:hover{
  background-color: #5E503F;
  color: white;
}

.museosTitulo h1{
  font-size: 35px;
  font-family: 'Rubik', sans-serif;
  color: #22333B;
  margin-bottom: 0%;
  margin-top: 2%;
}
/* Novedades CSS */
.novedades{ 
  width: 45%;
  min-width: 530px;
  margin-top: 2%;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  color: #22333B;
  text-decoration: none;
}

.cssNovedad{
  padding: 2px 2px 1px;
  font-size: 35px;
  font-weight: bold;
  color:#22333B;
  margin-top: 2%;
  font-family: 'Rubik', sans-serif;
  margin-left: 0px;
  background-color: #C6AC8F; 
}
.cssdiv1{
  display: flex;
  flex-direction:row;
  width: 100vw;
}
.cssdiv2{
  display: flex;
  flex-direction:column;
  width: 75vw;
  height: 360px;
}
.cssdiv3{
  display: flex;
  flex-direction:row;
  height: 245px;
}

.cssdiv4{
  display: flex;
  flex-direction:row;
  height: 120px;
  margin-top: 4.5%;
}

.cssdiv5{
  display: flex;
  flex-direction:column;
}
.cssNovedad h1{
  text-align: center;
}

.cssNovedad1{
  background-color: #C6AC8F;
  height: 250px;
  width: 50vw;
  margin-top: 3%;
  margin-left: 5%;
  display: inline-block;
  justify-content: space-between;
}

.cssNovedad2{
  background-color: #C6AC8F;
  height: 250px;
  margin-right: -1.2%;
  width: 25vw;
  margin-top: 3%;
  margin-left: 4%;
  padding-top: 1%;
  display: inline-block
}

.cssNovedad3{
  background-color: #C6AC8F;
  width: 23vw;
  height: 380px;
  margin-top: 37px;
  margin-left: 0%;
  float: left;
  position: relative;
}

.cssNovedad4{
  background-color: #C6AC8F;
  height: 90px;
  width: 53vw;
  margin-top: 2%;
  margin-left: 5%;
  float: left;
  position: relative;
}

.cssNovedad5{
  background-color: #EAE0D5;
  height: 90px;
  width: 25vw;
  margin-top: 2%;
  margin-left: 4.5%;
  float: left;
  position: relative;
}

.cssNovedad5 a{
  font-family: 'Rubik', sans-serif;
  color: #22333B;
  font-size: 22px;
  margin-top: 2%;
  text-align: center;
  margin-right: 3.8%;
}

.cssNovedad1 p{
  font-family: 'Rubik', sans-serif;  
  text-align: center;
  font-weight: bold;
}
.cssNovedad2 p{
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}
.cssNovedad3 p{
  font-family: 'Rubik', sans-serif;
  text-align: center;
  margin-top: 10%;
  font-weight: bold;
}
.cssNovedad4 p{
  font-family: 'Rubik', sans-serif;
  text-align: center;
  font-weight: bold;
  margin-top: 5%;
}
.cssNovedad5 p{
  font-family: 'Rubik', sans-serif; 
}

.imagenNovedades{
  width: 100%;
  height: 250px;
}

.imagenNovedades1{
  width: 20%;
}

.imagenNovedades2{
  width: 50%;
  margin-top: 5%;
  margin-left: 26.5%;
}

.imagenNovedades3{
  width: 87%;
  height: 201px;
  margin-left: 6%;
  margin-top: 11%;
}

.imagenNovedades4{
  width: 105.2%;
  height: 90px;
  margin-left: -5%;
}


/* Internacional */

.internacional{
  margin-top: 2%;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  color: #22333B;
  text-decoration: none;
}

.interBloques{
  margin-top: -1%;
}

.inter1{
    width: 29%;
    height: 455px;
    background-color: #C6AC8F;
    margin-top: 1%;
    float: left;
    margin-left: 1.5%;;
    margin-bottom: 2%;
    justify-content: space-between;
}

.interBloques h2{
  font-family: 'Rubik', sans-serif;
  color: #22333B;
  font-size: 21px;
  text-decoration: none;
  margin-left: 3%;
}

.interBloques p{
  font-family: 'Rubik', sans-serif;
  color: #22333B;
  font-size: 15px;
  text-decoration: none;
  margin-left: 3%;
}

.inter2{
  width: 29%;
  height: 455px;
  background-color: #C6AC8F;
  margin-top: 1%;
  float: left;
  margin-left: 4%;
  margin-bottom: 2%;
  justify-content: space-between;
}

.inter3{
    width: 29%;
    height: 455px;
    background-color: #C6AC8F;
    float: left;
    margin-left: 4%;
    margin-top: 1%;
    margin-bottom: 2%;
    display: inline-block;
    justify-content: space-between;
}

.imagenInternacional{
  width: 92%;
  height: 295px;
  margin-left: 4%;
  margin-top: 1%;
  margin-right: 3.3%;
  margin-bottom: 3%;
}

/* bloques museos2 */

.bloqueTitulo{
  width: 46%;
  height: 60px;
  background-color: #C6AC8F;
  margin-left: 0%;
  margin-top: 2%;
}

.bloqueTitulo p{
  color: #000;
  font-family: 'Rubik', sans-serif;
  font-size: 25px;
  text-align: center;
  padding-top: 2%;
  font-weight: bold;
}

.bloqueDescripcion1{
  font-family: 'Rubik', sans-serif;
  width: 46%;
  height: 140px;
  background-color: #C6AC8F;
  margin-left: 0%;
  margin-top: 2%;
  float: left;
  justify-content: space-between;
}

.bloqueDescripcion1 p{
  color: #000;
  margin-left: 2%;
  text-align: center;
  margin-top: 4%;
}

.bloqueDescripcion2{
  font-family: 'Rubik', sans-serif;
  width: 51.5%;
  height: 140px;
  background-color: #C6AC8F;
  margin-left: 2.4%;
  margin-top: 2%;
  display: inline-block;
  justify-content: space-between;
}

.bloqueDescripcion2 p{
  font-family: 'Rubik', sans-serif;
  margin-left: 2%;
  text-align: center;
  margin-top: 2%;
}

.museos2Grande{
}

.bloqueFoto{
  width: 46%;
  height: 260px;
  background-color: #C6AC8F;
  margin-left: 0%;
  margin-top: 2%;
  display: inline-block;
  justify-content: space-between;
}

.fotoMuseos2{
    margin-left: 14.5%;
    margin-top: 2%;
    width: 63%;
    height: 230px;
}

.horariosMuseos{
  font-family: 'Rubik', sans-serif;
  width: 51.4%;
  height: 180px;
  background-color: #C6AC8F;
  margin-left: 48.5%;
  margin-top: -16.4%;
}

.horariosMuseos p{
  font-family: 'Rubik', sans-serif;
  width: 98%;
  height: 140px;
  margin-left: 2%;
  margin-top: -15%;
}

.botonMuseos2{
  font-family: 'Rubik', sans-serif;
  width: 51.3%;
  height: 45px;
  background-image: url("/static/img/prueba.jpg");
  border: solid 2px #5E503F;
  margin-left: 48.4%;
  margin-top: 2%;
  margin-bottom: 0%;
  display: inline-block;
  justify-content: space-between;
}

.botonMuseos2 a{
  font-family: 'Rubik', sans-serif;
  color: #22333B;
  font-size: 22px;
  text-align: center;
  padding-left: 23%;
  font-weight: bold;
  position: relative;
  top: 20%;
}
}

.botonMuseos2 p{
  font-family: 'Rubik', sans-serif;
  color: #22333B;
  font-size: 22px;
  margin-top: 1%;
  text-align: center;  
}
/* footer */

footer {
  font-family: 'Rubik', sans-serif;
  margin-top:0px;
  width: 99%;
  weight:200px;
  background-color: #C6AC8F;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

footer p{
  margin-left: 10px;
  vertical-align: middle;
  font-family: 'Rubik', sans-serif;
  color: #22333B;
}

footer a{
  display: inline-block;
  vertical-align: middle;
  width: 50px;  
  padding-bottom: 0px;
  float: right;
}

footer img{
  margin-top: 8px;
}


.d-block w-100{
  width: 100%
}

/*Imagen de Maquetas*/
.maquetaImgNov{
  display: flex;
  flex-direction: row;
  width: 100%;
  
}
.maquetaNovedadesImg{
  width: 55vw;
  height: calc(55vw * 1,56);
}
.maquetaImgInicial{
  display: flex;
  flex-direction: row;
  float: left;
  width: 100%;
}
.maquetaInicioImg{
  width: 55vw;
  height: calc(55vw * 1,56);
}
.maquetaImgIInternacional{
  display: flex;
  flex-direction: row;
  float: left;
  width: 100%;
}
.maquetaInternacionalImg{
  width: 55vw;
  height: calc(55vw * 1,56);
}

li {
    border-radius: 3px;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

/* Carrusel de Index*/
.slider {
  width: 50vw;
  height: 100vh;
  float: right;
  overflow: hidden;
  z-index: 1;
  background-size: cover;
}

.slider ul {
  width: 400%;
  display: flex;
  padding: 0px;
  z-index: 1;
  
  animation: cambio 20s infinite alternate linear;
}

.slider li {
  width: 100%;
  list-style: none;
  z-index: 1;
}

.slider img {
  width: 100%;
  z-index: 1;
  height: 71vh;
  margin-top: -3%;
}

@keyframes cambio {
  0% {margin-left: 0;}
  20% {margin-left: 0;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}
