<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title> Administrador </title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos.css') }}">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
  </style>
     <nav class="nav">
    <a class="btnAdmin" onclick="museosi()" id="administrador"> MUSEOS </a>
    <a class="btnAdmin" onclick="novedadesi()" id="administrador"> NOVEDADES </a>
    <a class="btnAdmin" onclick="internacionali()" id="administrador"> INTERNACIONAL</a>
    <a class="btnAdmin" onclick="preguntasi()" id="administrador"> FAQ </a>
    <a class="btnAdmin" onclick="inicioi()" id="administrador"> INICIAL </a>
    <a class="btnAdmin" href="{{ url_for('administrador') }}" id="administrador"> INDEX </a>
    <a class="btnAdmin" href="{{ url_for('inicio') }}" id="administrador"> INICIO </a>
    <a class="navbar-logo" href="{{ url_for('index') }}">
        <img src="{{url_for('static', filename='img/Logo80.png') }}">
    </a>
        <p class="navbar-logoT"> <b>ART</b>EMIS </p> 
     </nav>
</head>
<body>
 <div id="modificarTuPagina" >
    <H1>
    Modificá tu Index
    </H1>  
    <form  action="{{url_for('agregarIndex')}}" method="POST" class="indexAdmin" enctype="multipart/form-data"> 
    
      <label for="informacion">Información:</label>
      <input required type="text" id="informacion" name="informacion" />
      <br>
      <label for="foto1">Adjunta imagen 1</label>
      <input type="file" id="foto1" name="foto1" accept= "image/png,image/jpeg,image/jpg"/>
      <br>
      <label for="foto2">Adjunta imagen 2</label>
      <input type="file" id="foto2" name="foto2" accept= "image/png,image/jpeg,image/jpg"/>
      <br>
      <label for="foto3">Adjunta imagen 3</label>
      <input type="file" id="foto3" name="foto3" accept= "image/png,image/jpeg,image/jpg"/>
      <br>
      <label for="foto4">Adjunta imagen 4</label>
      <input type="file" id="foto4" name="foto4" accept= "image/png,image/jpeg,image/jpg"/>
      <br>
    
      <input type="submit"   id="send-index" value="Enviar"/>
    </form>  
 
   
   <h1>Eliminá informacion del index</h1>
    <form>
      <p>{{mostrarI}}</p>
      <select name="SelectEliminarIndexImagen" id="SelectEliminarIndexImagen">
        {%for a in range(lenghtI)%}
          <option value="{{mostrarI[a][1]}}">{{mostrarI[a][1]}}
          </option>
        {%endfor%}
      </select>
  
      <input type="button" onclick="borrarIndex()" value="Eliminar"/>
      
    </form>

</div>
<div id="modificaInicio" hidden>
  <h1>
      Modificá tu inicio
    </h1>
  <div class= "maquetaImgInicial">
    <form action="/agregarInicio" method="POST" class="novedades" enctype="multipart/form-data">
    
      <li>
      <label for ="imagen1"> Adjunta imagen 1 </label>
      <input type ="file" id="imagen1" name="imagen1" accept= "image/png,image/jpeg,image/jpg"/>
      </li>
      <li>
      <label for ="imagen2"> Adjunta imagen 2 </label>
      <input type ="file" id="imagen2" name="imagen2" accept= "image/png,image/jpeg,image/jpg"/>
      </li>
      <li>
      <label for ="imagen3"> Adjunta imagen 3 </label>
      <input type ="file" id="imagen3" name="imagen3" accept= "image/png,image/jpeg,image/jpg"/>
      </li>
      <li>
      <label for ="imagen4"> Adjunta imagen 4 </label>
      <input type ="file" id="imagen4" name="imagen4" accept= "image/png,image/jpeg,image/jpg"/>
      </li>
      <li>
      <label for ="thinklink"> Thinklink </label>
      <input type ="file" id="thinklink" name="thinklink" accept= "image/png,image/jpeg,image/jpg"/>
      </li>
      <li>
      <label for="link">Adjunta link </label>
      <input type="url" id="linkInicio" name="linkInicio"/>
      </li>
      <li>
      <label for ="texto"> Adjunta texto </label>
      <input type ="text" id="texto" name="texto"/>
      </li>
      <li>
      <input type="submit" id="send-inicio" value="Agregar"/>
      </li>
    </form>  
    <img class= "maquetaInicioImg" src= "static/img/maquetaInicio.png"/>
  </div>
  <h1>
    Eliminá tu inicial
  </h1>
  <p>{{mostrarX}}</p>
  <form >
    <select name="SelectEliminarInicial" id="SelectEliminarInicial">
      {%for a in range(lenghtX)%}
      <option value="{{mostrarX[a][0]}}">{{mostrarX[a][0]}}</option>
      {%endfor%}
    </select>
    <input type="button" onclick="borrarInicial()"  id="eliminar-inicial" value=" Eliminar" />
  </form>
</div>
  
<div id="modificarMuseos"  hidden>
  <H1>
    Agregá tu Museos
  </H1>
  <form action="/agregarMuseo" method="POST" class="museos" enctype="multipart/form-data">
      
    <br>
        <label for="titulo">Titulo:</label>
        <input type="text" id="titulo" name="titulo" /><br>
                
    <br>
        <label for="informacion">Información:</label>
        <input type="text" id="informacion" name="informacion" /><br>
    
    <br>
        <label for="coleccion">Colección Actual:</label>
        <input type="text" id="coleccion" name="coleccion" /><br>
    <br>
        <label for="horario">Horario:</label>
        <input type="text" id="horario" name="hora" /><br>
    <br>
        
        <label for="precios">Precios:</label>
        <input type="text" id="precios" name="precio" /><br>
    <br>    
        <label for="Ubicacion">Ubicación:</label>
        <input type="text" id="ubicacion" name="ubicacion" /></br>
    
    <br>
        <label for="barrio">Barrio:</label>
        <input type="text" id="barrio" name="barrio" /><br>
    
    <br>
        <label for="linPagina">Link Pagina:</label>
        <input type="url" id="linkPagina" name="linkPagina" /><br>
    
    <br>
        <label for="logo">Logo:</label>
        <input required type="file" id="logo" name="logo" accept= "image/png, image/jpeg, image/jpg"/><br>
    <br>
        <label for="fotoMuseo">Foto Museo:</label>
        <input type="file" id="fotoMuseo" name="fotoMuseo" accept= "image/png, image/jpeg, image/jpg" /><br>
    
    <br>
        
      <input type="submit" id="send-museos" value="Agregar"/>
  </form>
  <h1>Eliminá tu museo</h1>
  <!--<p>{{mostrarM}}</p>-->
  <form>
     <select name="SelectEliminarMuseos" id="SelectEliminarMuseos">
       {%for a in range(lenghtM)%}
       <option value="{{mostrarM[a][0]}}">{{mostrarM[a][0]}}</option>
       {%endfor%}
     </select>
     <input type="button" onclick="borrarMuseos()" value="Eliminar"/>
  </form>
</div>
  
<div id="modificarNovedades" hidden>
  <h1>
      Agregá tus Novedades
    </h1>
  <div class="maquetaImgNov">
    
    <form action="{{url_for('agregarNovedades')}}" method="POST" class="novedades" enctype="multipart/form-data">
          <li>
            <label for="foto1">Adjunta imagen 1</label>
            <input required type="file" id="foto1" name="foto1" accept= "image/png, image/jpeg, image/jpg" class="inputNovedades"/>
          </li>
          <li>
            <label for="texto1">Adjuntar texto 1</label>
            <input  type="text" id="texto1" name="texto1" class="inputNovedades"/>
      
          </li>
          <li>
          
            <label for="foto2">Adjunta imagen 2</label>
            <input required type="file" id="foto2" name="foto2" accept= "image/png, image/jpeg, image/jpg" class="inputNovedades"/>
          
          </li>
          <li>
          
            <label for="texto2">Adjunta texto 2</label>
            <input  type="text" id="texto2" name="texto2" class="inputNovedades"/>
          
          </li>
          <li>
          
            <label for="foto3">Adjunta imagen 3</label>
            <input required type="file" id="foto3" name="foto3" accept= "image/png, image/jpeg, image/jpg" class="inputNovedades"/>
          
          </li>
          <li>
          
            <label for="texto3">Adjunta texto 3</label>
            <input  type="text" id="texto3" name="texto3" class="inputNovedades"/>
        
          </li>
          <li>
          
           <label for="foto4">Adjunta imagen 4</label>
          <input required type="file" id="foto4" name="foto4" accept= "image/png, image/jpeg, image/jpg" class="inputNovedades"/>
         </li>
          <li>
          
            <label for="link">Link hipervínculo</label>
            <input type="url" id="link" name="link" class="inputNovedades" />
          </li>
          <li>
          
          <input type="submit" id= "send-agregar" value="Agregar" >
            </li>
    </form>
    <img class= "maquetaNovedadesImg" src= "static/img/maquetaNovedades.png"/>
  </div>
  
  <h1>Eliminá Novedades</h1>
  <form>
      <p>{{mostrarN}}</p>
       <select name="SelectEliminarNovedades" id="SelectEliminarNovedades">
        {%for a in range(lenghtN)%}
         <OPTION value="{{mostrarN[a][0]}}">{{mostrarN[a][0]}}</OPTION>
        {%endfor%}
      </select>
    <input type="button" onclick="borrarNovedades()" value="Eliminar"/>
  </form> 
</div>

<div id="modificarInternacional" class="internacional" hidden>
  <h1>
    Agregá tu Internacional
  </h1>
  <div class= "maquetaImgInternacional">
    <form action="/agregarInternacional" method="POST" class= "novedades" enctype="multipart/form-data" >
    <label for="campo1">Nombre campo 1</label>
    <input type="text" id="campo1" name="campo1" /><br>
    
    <label for="textoCampo1">Texto campo 1</label>
    <input type="text" id="textocampo1" name="textocampo1" /><br>
    
    <label for="foto1">Foto 1</label>
    <input required type="file" id="fotoCampo1" name="fotoCampo1" accept= "image/png, image/jpeg, image/jpg"/><br>
    
    <label for="campo2">Nombre campo 2</label>
    <input type="text" id="campo2" name="campo2" /><br>
    
    <label for="textoCampo2">Texto campo 2</label>
    <input type="text" id="textocampo2" name="textocampo2" /><br>
      
    <label for="foto2">Foto 2</label>
    <input required type="file" id="fotoCampo2" name="fotoCampo2" accept= "image/png, image/jpeg, image/jpg"/><br>
  
    <label for="campo3">Nombre campo 3</label>
    <input type="text" id="campo3" name="campo3" /><br>
  
    
    <label for="textoCampo3">Texto campo 3</label>
    <input type="text"  id="textocampo3" name="textocampodos" /><br>
  
    <label for="foto3">Foto 3</label>
    <input required type="file" id="fotoCampo3" name="fotoCampo3" accept= "image/png, image/jpeg, image/jpg"/><br>
  
      
    <input type="submit"  id="send-internacional" value="Agregar"/>
    </form>
    <img class= "maquetaInternacionalImg" src= "static/img/maquetaInternacional.png"/>
  </div>
  <h1>
    Eliminá tu internacional
  </h1>
<form>
  <p>{{mostrarZ}}</p>
    <select name="SelectEliminarInternacional" id="SelectEliminarInternacional">
      {%for a in range(lenghtZ)%}
        <OPTION value="{{mostrarZ[a][0]}}">{{mostrarZ[a][0]}}</OPTION>
      {%endfor%}    
    </select>
  <input type="button" onclick="borrarInternacional()" value="Eliminar"/>
</form>
</div>
<div id="modificarPreguntas" class="faqadmin" hidden>
  <h1>
    Agregá tus Preguntas Frecuentas
  </h1>
  <form action="{{url_for('ingresar')}}" methods="POST" >
  
  <label for="pregunta1">Adjunta pregunta </label>
  <input type="text" id="pregunta" name="pregunta" /><br>
  
  <label for="respuesta1">Adjunta respusta</label>
  <input type="text" id="respuesta" name="respuesta" /><br>  
  <input type="button" onclick="preguntas()" id="send-faq" value="Agregar"/>
  </form>
  <h1>Eliminá tu pregunta y respuesta</h1>
  <p>{{mostrar}}</p>
  <form>
    <select name="SelectEliminar" id="SelectEliminar">
      {%for a in range(lenght)%}
        <option value="{{mostrar[a][0]}}">{{mostrar[a][0]}}</option>
      {%endfor%}
    </select>
    <input type="button" onclick="borrarPreguntas()" value="Eliminar"/>
  </form>


 <script src="../static/java/javascript.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
  </script>  
</body>
