<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" 
href="{{url_for('static', filename='estilos.css') }}">
</head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
  </style>
   <title> ARTEMIS </title>
<header> 
  
{% block nav %}
  <nav class="barra2">
    <a class="btn" href="{{ url_for('cambioAIngresar') }}" id="museoNav"> INICIAR SESIÓN</a>
    <a class="btn" href="{{ url_for('inicio') }}"> INICIO</a>
    <a class="navbar-logo" href="{{ url_for('index') }}">
      <img src="static/img/Logo80.png">
    </a>
    <p class="navbar-logoT"> <b>ART</b>EMIS </p> </p> 
  </nav>
{% endblock %}
  
</header>
  
<body>
{% block titulo %} {% endblock %}
  
{% block contenido %}
<div class="divIndexGrande">
  <div class="contenedorBloques1">
    <p>{{respuestaDelIndex[-1][0]}}</p>
  </div>
  
  <div class="contenedorBloques2">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/static/media/{{respuestaDelIndex[-1][1]}}" class="d-block w-100" alt="foto1">
        </div>
        <div class="carousel-item">
          <img src="/static/media/{{respuestaDelIndex[-1][2]}}" class="d-block w-100" alt="foto2">
        </div>
        <div class="carousel-item">
          <img src="/static/media/{{respuestaDelIndex[-1][3]}}" class="d-block w-100" alt="foto3">
        </div>
        <div class="carousel-item">
          <img src="/static/media/{{respuestaDelIndex[-1][4]}}" class="d-block w-100" alt="foto4">
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <!--<img class= "imagenIndex" src="/static/media/{{respuestaDelIndex[0][1]}}"></img>-->
  </div>
</div>
{% endblock %}

{% block footer %}
<footer class="footer"> 
    <p>
      @ARTEMIS | Todos los derechos reservados
    </p>
    <div>
       <a class="instagram">
        <img src="static/img/1.png" align="left">
      </a>
      <a class="mail">
        <img src="static/img/2.png">
      </a>
      <a class="twitter">
        <img src="static/img/3.png">
      </a> 
    </div>
    
  </footer>
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>
