<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title> ARTEMIS </title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='estilos.css') }}">
</head>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
    </style>
<header>
  
{% block nav %}
  <nav class="barra2">
    <a class="btn" href="{{ url_for('cambioAIngresar') }}" > INICIAR SESIÓN</a>
    <a class="btn" href="{{ url_for('inicio') }}"> INICIO </a>
    
    <a class="navbar-logo" href="{{ url_for('index') }}">
      <img src="{{url_for('static', filename='img/Logo80.png') }}">
    </a>
      <p class="navbar-logoT"> <b>ART</b>EMIS </p> 
  </nav>
{% endblock %}
</header>
  
<body>

{% block titulo %} {% endblock %}
  
{% block contenido %}
<div class="divIndexGrande">
  <div class="contenedorBloques1">
    <p>{{respuestaDelIndex[-1][0]}}</p>
  </div>
  
  <div class="contenedorBloques2">
    <div class="slider">
      <ul>
        <li><img class="item" src="/static/media/{{respuestaDelIndex[0][1]}}"/></li>
        <li><img class="item" src="/static/media/{{respuestaDelIndex[0][2]}}"/></li>
        <li><img class="item" src="/static/media/{{respuestaDelIndex[0][3]}}"/></li> 
        <li><img class="item" src="/static/media/{{respuestaDelIndex[0][4]}}"/></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<footer class="footer"> 
    <p>
      @ARTEMIS | Todos los derechos reservados
    </p>
    <div class="img">
       <a class="instagram">
        <img src="{{url_for('static', filename='img/1.png') }}" align="left">
      </a>
      <a class="mail">
        <img src="{{url_for('static', filename='img/2.png') }}">
      </a>
      <a class="twitter">
        <img src="{{url_for('static', filename='img/3.png') }}">
      </a> 
    </div>
  </footer>

{% endblock %}
</html>
