<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" 
href="{{url_for('static', filename='estilos.css') }}">
</head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
  </style>
   <title> ARTEMIS </title>
<header> 
{% block nav %}
  <nav class="barra2">
    <a href="{{ url_for('ingresar') }}" id="museoNav"> INICIAR SESIÓN</a>
    <a href="{{ url_for('inicio') }}"> INICIO</a>
    <a class="navbar-logo" href="{{ url_for('index') }}">
      <img src="static/img/Logo80.png">
    </a>
    <p class="navbar-logoT"> <b>ART</b>EMIS </p> </p> 
  </nav>
{% endblock %}
</header>
<body>
{% block titulo %} {% endblock %}
  
{% block contenido %}{% endblock %}

{% block footer %}
<footer class="footer"> 
    <p>
      @ARTEMIS | Todos los derechos reservados
    </p>
    <div>
       <a class="instagram">
        <img src="static/img/1.png" align="left">
      </a>
      <a class="mail">
        <img src="static/img/2.png">
      </a>
      <a class="twitter">
        <img src="static/img/3.png">
      </a> 
    </div>
    
  </footer>
{% endblock %}
  
</body>
</html>
