<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title> INICIAR SESION </title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='estilos.css') }}">
  <style>
     @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
  </style>
    <nav class=ingresarNav>
      <a class="btn" href="{{ url_for('inicio') }}"> INICIO </a>
      <a class="btn" href="{{ url_for('index') }}"> VOLVER </a>
      <a class="navbar-logo" href="{{ url_for('index') }}">
      <img src="static/img/Logo80.png">
    </a>
    <p class="navbar-logoT"> <b>ART</b>EMIS </p> </p> 
    </nav>
  <script src="../static/java/javascript.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
      </script>  
</head>
  <body>
    <form id="form1" action="{{url_for('ingresar')}}" method="POST" class="ingresarCss">
    <br>
      <h2 class="iniciarsesion">INGRESAR</h2>
      <br>
      <label for="name"> USUARIO </label>
      <br>
      <input type="text" id="name" name="nombre" size="45" maxlength="45" style="HEIGHT: 20px" required /> <br>
      <br>
      <label for="password">CONTRESEÑA </label> 
      <br>
      <input type="password" id="password" name="password" size="45" maxlength="45" style="HEIGHT: 20px"  required /> <br>
      <br>
      <input type="button" onclick="signUp()" id="send-login" value="INGRESAR" class="btnIngresarCss"/>
    </form>
  </body>
  
  {% block footer %}

<footer class="footer"> 
    <p>
      @ARTEMIS | Todos los derechos reservados
    </p>
    <div>
       <a class="instagram">
        <img src="static/img/1.png" align="left">
      </a>
      <a class="mail">
        <img src="static/img/2.png">
      </a>
      <a class="twitter">
        <img src="static/img/3.png">
      </a> 
    </div>
    
  </footer>

{% endblock %}
 
</html>
