{% extends 'base.html' %}
{% block title %}
<title> Museos </title>
{% endblock %}

{% block titulo %} 
<div class="museosTitulo">
  <h1> ¡Elegí tu museo! </h1>
  </div>
{% endblock %}

{% block contenido %}
<head>
</head>
<div class="museos123">
  {%for a in range(LENGHTM)%}
  <div class="btnMuseos" onclick="document.getElementById('formMuseo{{a}}').submit()"> 
    <form id="formMuseo{{a}}" class="museosTexto" action="{{url_for('museos2', nombre = respuestaMuseos[a][0])}}" method="POST">
        <p>{{respuestaMuseos[a][0]}}</p>
        <img  class="imagenMuseos" src="/static/media/{{respuestaMuseos[a][8]}}"></img>  
        <input hidden value="{{respuestaMuseos[a][0]}}" name="museo">
    </form>
  </div>
  {%endfor%}
</div>

{% endblock %}{% extends 'base.html' %}
{% block title %}
<title> Museos </title>
{% endblock %}

{% block titulo %} 
<div class="museosTitulo">
  <h1> ¡Elegí tu museo! </h1>
  </div>
{% endblock %}

{% block contenido %}
<head>
</head>
<div class="museos123">
  {%for a in range(LENGHTM)%}
  <div class="btnMuseos" onclick="document.getElementById('formMuseo{{a}}').submit()"> 
    <form id="formMuseo{{a}}" class="museosTexto" action="{{url_for('museos2', nombre = respuestaMuseos[a][0])}}" method="POST">
        <p>{{respuestaMuseos[a][0]}}</p>
        <img  class="imagenMuseos" src="/static/media/{{respuestaMuseos[a][8]}}"></img>  
        <input hidden value="{{respuestaMuseos[a][0]}}" name="museo">
    </form>
  </div>
  {%endfor%}
</div>

{% endblock %}
